@page "/"

<nyyttikestit.Components.Navbar />

<main class="container-fluid main-bg-img img-fluid vh-100">
    <div class="row">
        <div class="col-lg-3"></div>
        <div class="col-lg-3 px-1 py-3 d-flex justify-content-center">

            <nyyttikestit.Components.OpenPotluck/>
        </div>

        <div class="col-lg-3 px-1 py-3 d-flex justify-content-center">
            <nyyttikestit.Components.CreatePotluck />

        </div>
        <div class="col-lg-3"></div>
    </div>
</main>

<nyyttikestit.Components.Footer />

@code {

}
