@page "/info"


<nyyttikestit.Components.Navbar />

<main class="container-fluid main-bg-img img-fluid vh-100">
    <div class="row">
        <div class="col-lg-3"></div>
        <div class="col-lg-6">
            <div class="card text-center mt-3" style="background-color: rgba(255,255,255,0.9)">
                <div class="card-body">
                    <h5 class="card-title">Ohjeet</h5>
                    <div class="card-text mt-3">
                        <p>
                            Nyyttikestien etusivulla pääset luomaan omat kestit. Syötä lomakkeelle kestin tiedot ja palvelu luo sinulle linkin, jota jakamalla voit
                            kutsua kesteille osallistujia.
                        </p>
                        <p class ="mt-3">
                            Linkki vie sinut kestien omalle sivulle. Täällä käyttäjät voivat luoda nyyttejä, eli lisätä tapahtumaan haluamiaan ruokalajeja. Nyyttikortteja voi
                            muokata tai poistaa, ja kaikki tuomiset kerätään yhteen tulostettavalle menu-kortille.
                        </p>
                        <p class="mt-3">
                            Reseptejä-valikosta löydät inspiraatiota tuomisia varten.
                        </p>
                        <p class="mt-3">
                            Hauskoja nyyttäreitä!
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3"></div>
    </div>

</main>

<nyyttikestit.Components.Footer />

@code {

}
