<footer class="footer mt-auto py-3 bg-orange">
    <div class="container text-center">
        <span class="text-black"><i class="fa fa-copyright"></i>  Nyyttikestit 2023</span>
    </div>
</footer>

@code {

}
